<div class="card" style="width: 18rem;">
    <img src=".../../../../../assets/img/html5.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">posts</h5>
      <p class="card-text">ver posts</p>
      <a href="#"  class="btn btn-primary" [routerLink]="['posts']"routerlinkActive="router-link active">IR</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src=".../../../../../assets/img/users.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">users</h5>
      <p class="card-text">ver users</p>
      <a href="#"  class="btn btn-primary" [routerLink]="['users']"routerlinkActive="router-link active">IR</a>
    </div>
  </div>

<div class="card" style="width: 18rem;">
  <img src=".../../../../../assets/img/albums.jfif" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">ALBUMS</h5>
    <p class="card-text">VER ALBUMS</p>
    <a href="#"  class="btn btn-primary" [routerLink]="['albums']"routerlinkActive="router-link active">IR</a>
  </div>
